{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary">Update Course</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">
                            <form method="post" id="coursefrm">
                                {% csrf_token %}
                                <table>
                                    {% for fields in form %}
                                    <tr>
                                        <th>{{fields.label_tag}}</th>
                                        <td>{{fields}}</td>
                                        <td>{{field.errors}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="submit" class="btn btn-success" value="Update course" id="course_update">
                                            <a href="{% url 'createcourse' %}" class="btn btn-primary" id="cancel_update">Cancel</a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
