<!DOCTYPE html>
<style>
    #table{
    padding:90px;
    }
</style>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row" id="table">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <table class="table" border="1">
                <thead class="thead-dark">
                <tr>
                    <th>Course Name</th>
                    <th>Course duration</th>
                    <th>Action 1</th>
                    <th>Action 2</th>
                </tr>
                </thead>
            <tbody>
            {% for course in object_list %}
            <tr>
                <td>{{course.course_name}}</td>
                <td>{{course.course_duration}}</td>
                <td><a href="{%url 'courseupdate' course.id %}" class="btn btn-warning">Update</a> </td>
                <td><a href="{% url 'deletecourse' course.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}