 #create_course{
    margin-top:30px;
    margin-left:50px;
    }
    #coursefrm{
    line-height:50px;
    margin-left:300px;
    }
    td,th{
    text-align:center;
    }
    #cancel_update{
    margin-top:30px;
    margin-left:150px;
    }
    #course_update{
    margin-top:30px;
    margin-left:20px;
    }
    #cancel_create{
    margin-top:30px;
    margin-left:120px;
    }
