#follow{
    margin-left:250px;
    margin-top:120px;
}

#v_followup{
    margin-left:180px;
    margin-top:30px;
    }
#searchresults{
    margin-top:50px;
    margin-left:-120px;
    }
 #adtab{
    margin-top:20px;
    margin-left:150px;
    }